@charset "UTF-8"
@font-face {
    font-family: 'Particular';
    src: 
    url(../assets/fonts/static/WorkSans-Regular.ttf) format(truetype),
    url(../assets/fonts/WorkSans-Italic-VariableFont_wght.ttf) format(truetype), 
    url(../assets/fonts/WorkSans-VariableFont_wght.ttf) format(truetype), 
    url(../assets/fonts/static/WorkSans-Bold.ttf) format(truetype),  
    url(../assets/fonts/static/WorkSans-SemiBold.ttf) format(truetype);
}

* {
    border: 0;
    margin: 0;
}

body {
    font: bolder 'Particular', Arial;
    text-align: center;
}

h1 {
    font-size: 50px;
    color: hsl(292, 42%, 14%);
}

h2 {
    font-size: 25px;
    color: hsl(292, 42%, 14%);
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: bold;
    color: hsl(292, 16%, 49%);
}

/* header */

#principal {
    width: 100vw;
    height: 35vh;
    background-image: url("../assets/images/background-pattern-desktop.svg");
    background-size: cover;

}

/* section */

#container {
    width: 40vw;
    height: 80vh;
    margin: 100px 60% 24px 40%;
    border: 2px solid white;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 10px 5px 10px black;
    flex-direction: column; 
}

/*topo section*/

.div-title {
    display: flex;
    justify-content: start;
    margin-left: 40px;
    margin-bottom: 10px;
}
.div-title-box {
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 40px;
}
/*article*/

.div-content {
    margin-bottom: 10px;
    justify-content: start;
    align-items: center;

    display: grid;
    grid-template-columns: auto auto;
    
}

.div-content > p{
    margin-bottom: 10px;
    display: none;
}

/*area de teste*/
.teste {
    height: 100px;
    border: 1px solid black;
    text-align: center;
    
}

#b1 {
    background-color: red;
    width: 35vw;
}
#b2 {
    background-color: blue;
    width: 5vw;
}
#b3 {
    background-color: green;
    width: 40vw;
    grid-column: 1
}